form {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactnameemail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.contactnameemail,
.subject,
.message,
.submit {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.subject {
  display: flex;
  justify-content: center;
}

.field-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.subject input {
  width: 29em;
}

.message {
  display: flex;
  justify-content: center;
}

.message textarea {
  resize: vertical;
  width: 30em;
  min-height: 3em;
}

.submit {
  display: flex;
  justify-content: center;
}

.submit input {
  width: 15em;
}

.connect h1 {
  font-size: 300px;
  font-family: "Tusker";
  margin: 0;
  padding: 0;
  line-height: 1.1;
  padding-left: 150px;
}

.contacttext {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  font-size: 30px;
  font-family: "neu";
  padding-bottom: 40px;
  width: 100%;
}

textarea[name="message"] {
  resize: vertical;
}

textarea {
  color: white;
  border-radius: 4px;
  box-sizing: border-box;
  height: 3em;
  width: 14em;
  padding: 12px 20px;
  margin: 8px 0;
  overflow: hidden;
  background-color: black;
  border: none;
  font-family: "MS Shell Dlg";
  font-size: 13px;
}

input {
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  background-color: black;
  border: none;
}

input[type="submit"] {
  /* background-color: #2b2b2b; */
  background-color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input:focus,
textarea:focus {
  outline: none;
  border-bottom: 2px solid white;
}

input[type="submit"]:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1350px) {
  .connect h1 {
    font-size: 200px;
  }
  .connect p,
  .contacttext p {
    font-size: 20px;
  }
}

@media screen and (max-width: 980px) {
  .connect h1 {
    font-size: 100px;
  }
  .connect p,
  .contacttext p {
    font-size: 17px;
  }
}
@media screen and (max-width: 680px) {
  .connect h1 {
    font-size: 80px;
    padding-left: 40px;
  }
  .connect p,
  .contacttext p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.formresponse {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
