* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  scroll-behavior: smooth;
}

body {
  background-image: url("./images/herobg-hd.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-color: black;
}

@media screen and (max-width: 767px) {
  [data-aos] {
    opacity: 1 !important;
    transform: none !important;
  }
}

@media screen and (max-width: 767px) {
  body {
     background-image: url("./images/herobg-hd.jpg");
  background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
  }
}
