@font-face {
  font-family: "Tusker"; /*Can be any text*/
  src: local("TuskerGrotesk-2600Semibold"),
    url("./fonts/TuskerGrotesk-2600Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Neu"; /*Can be any text*/
  src: local("NeueMontreal-Bold"),
    url("./fonts/NeueMontreal-Bold.otf") format("opentype");
}
